// Color
$primary-color: #3f04fe;
$heading-color: #0e003c;
$secondary-color: #00B4FF;
$body-background-color: #E4E0F1;
$step_color_primary: #6c798f;
$progress-active-font-color: #FFFFFF;
$progress-visited-font-color: #081e43;
$progress-not-visited-font-color: #73707D;

